.app {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.left-navi {
    list-style-type: none;
    border-right: 1px solid #ccc;
    margin-right: 40px;
    margin-top: 15vh;
    padding-top: 40px;
    width: 8rem;
}

.app-title {
    text-align: center;
}

.result-area {
    margin: 5vh auto;
    display: flex;
}

.result-right {
    margin-left: 20px;
}
