.search-form {
    text-align: center;
    vertical-align: baseline;
}

$search-form-font-size: 24px;

.place-input {
    font-size: $search-form-font-size;
    padding: 4px 3px 6px;
    border: 1px solid #ccc;
}

.submit-button {
    -webkit-appearance: none;
    font-size: $search-form-font-size;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
